body {
    background: #008080;
}

h1,
h3,
body,
p {
    font-family: sans-serif;
}

h1,
h2 {
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #c0c0c0;
    width: 30%;
    height: auto;
    padding: 0px;
    border: 2px solid #e5e5e5;
    margin: 0px 0px 0px 0px;
}

p {
    padding: 10px;
    border: none;
    margin: 0px 0px 0px 0px;
}

h3 {
    display: block;
    box-sizing: border-box;
    width: 100%;
    color: #c0c0c0;
    font-size: 1.1em;
    background-color: #a0a0a0;
    padding: 10px;
    border-bottom: 2px solid #e5e5e5;
    margin: 0px 0px 0px 0px;
}

label {
    background-color: #c0c0c0;
    padding: 0px;
    border: 1px solid #e5e5e5;
    margin: 0px 0px 0px 0px;
}